<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'secretapp/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1 class="jumbotron">Sorted by most likes</h1>
    <ul class="messages">
    {% if messages %}
        {% for message in messages %}
        <li {% if message.errors %} class="{{ message.errors }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/secrets/new" method="post" id="msgform">
        {% csrf_token %}

        <textarea type="text" name="content" cols='80' placeholder="leave a secret" id="msgform"></textarea>

        <input type="submit" value="submit">
    </form>
    {%for secret in posts%}
    <div class='message'>
    {%if user not in secret.likes.all%}
    </p>{{secret.content}} - {{secret.created_at | timesince}} ago    |  {{secret.likes.count}} likes  |  <a href="/secrets/{{secret.id}}/{{user.id}}">LIKE</a></p>
    {%else%}
</p>{{secret.content}} - {{secret.created_at | timesince}} ago    |  {{secret.likes.count}} likes  |  LIKED</p>
    {%endif%}      
</div>
    {%endfor%}
    <a href="/secrets">see all secrets</a>
</body>

</html>